*{
	margin: 0;
	padding:0;
}

body{
	background-image: url(practice/res/p2.png);
	background: white;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.login-page
{
	width: 360px;
	padding:10% 0 0;
	margin: auto;
}
.form{

	position: relative;
	z-index: 1;
	background: white;
	max-width: 360px;
	margin: 0 auto 100px;
}input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}